:root {
    --lightpurple: #8477B9;
    --darkpurple: #6652A0;
    --orange: #EA8644;
    --darkorange: #D77A3D;
    --red: #EA4444;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #9B9B9B;
    --darkgrey: #5A5A5A;
}