:root {
  --lightpurple: #8477b9;
  --darkpurple: #6652a0;
  --orange: #ea8644 !important;
  --darkorange: #d77a3d;
  --red: #ea4444;
  --white: #ffffff;
  --black: #000000;
  --grey: #9b9b9b;
  --darkgrey: #5a5a5a;
}
