.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    color: white;
    text-decoration: none;
  }
  
  .nav-left:hover,
  .footer-brand:hover {
    color: inherit;
    text-decoration: none;
    cursor: none;
  }
  
  .branding {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  .branding #title {
    font-family: var(--heading-font);
    font-size: 28px;
    margin: 0px;
  }
  
  .branding #subtitle,
  .footer-brand #subtitle {
    font-family: var(--text-font);
    font-size: 20px;
  }
  
  /* NavBar Mobile Views */
  @media only screen and (max-width: 750px), (max-height: 600px) {
    .nav-left #logo {
      height: 36px;
    }
  
    .nav-left .branding {
      margin-left: 5px;
    }
  
    .nav-left #title {
      font-size: 1.125em;
      margin: 0;
    }
  
    .nav-left .branding #subtitle {
      display: none;
    }
  }
  
  /* Footer Mobile Views */
  @media only screen and (max-width: 750px) {
    .footer-brand #logo {
      height: max(80px, 17vw);
    }
  
    .footer-brand #title {
      font-size: 1.45em;
    }
  }
  
  @media only screen and (max-width: 650px) {
    .footer-brand #logo {
      height: max(80px, 13vw);
    }
  
    .footer-brand .branding {
      margin-left: 5px;
    }
  
    .footer-brand #title {
      font-size: 1.35em;
      margin: 0;
    }
  
    .footer-brand .branding #subtitle {
      display: none;
    }
  }