.branches-chapters-loader {
    display: grid;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
  
.branches-chapters-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
  
.orange-border {
    border: 1px solid var(--darkorange);
}