.conferences-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stepper-section {
  height: 100%;
  border-right: 1px solid var(--lightpurple);
  margin-right: 50px;
}

.stepper-section-div {
  margin-top: 70px;
}

.conferences-edit-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-bottom: 50px;
}

.conferences-title {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.conferences-conference-title {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.conferences-title-h1 {
  width: 100%;
  font-weight: 700;
  font-family: var(--heading-font);
  font-size: 36px;
  margin-block-end: 0;
}

.conferences-theme-section {
  width: 100%;
}

.conferences-overview-section {
  margin-top: -20px;
  width: 100%;
}

.conferences-num-location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.conferences-theme-div {
  margin-top: 30px;
}

.conferences-images-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -12px;
}

.conferences-theme-div h2,
.conferences-signup-header h2,
.conferences-images-header h2 {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--heading-font);
  line-height: 30.6px;
}

.conferences-signup-div {
  margin-top: 20px;
}

.conferences-signup-header,
.conferences-images-header {
  display: flex;
  align-items: flex-end;
}

.conferences-signup-header p,
.conferences-images-header p {
  margin-left: 20px;
  font-size: 12px;
  font-family: var(--text-font);
  font-weight: 500;
  line-height: 32px;
}

.conferences-images {
  margin-top: 20px;
}

/* .conferences-brochures,
.conferences-abstracts,
.conferences-presentations,
.conferences-programs,
.conferences-video-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}  */

.conferences-brochures-header h2,
.conferences-abstracts-header h2,
.conferences-presentations-header h2,
.conferences-programs-header h2,
.conferences-video-div h2 {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--heading-font);
  line-height: 30.6px;
}

/* The start of the tab styling */
.conferences-tabs {
  display: flex;
  width: 300px;
  margin-bottom: 30px;
}

.conferences-tabs section {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid transparent;
}

.conferences-tabs-theme h1,
.conferences-tabs-overview h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 5px;
}

.conferences-tabs-theme,
.conferences-tabs-overview {
  border-bottom: 2px solid transparent;
}

.conferences-tabs-theme:hover,
.conferences-tabs-overview:hover {
  cursor: pointer;
}

.active-tab {
  border-bottom: 2px solid var(--orange);
}

.post-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15%;
}

.add-conference {
  margin-top: 100px;
}

.delete-conference {
  margin-top: 30px;
}

.required-asterisk,
.required-asterisk-conf-num,
.required-asterisk-location {
  color: #ea4444;
  font-size: 25px;
  margin-left: 3px;
}

.required-asterisk-conf-num,
.required-asterisk-location {
  margin-left: -10px;
}

/* Styling the scroll bar for the overview/theme */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightpurple);
  height: 20px;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--darkpurple);
}

@media only screen and (max-width: 1500px) {
  .conferences-theme-section {
    margin-right: -25px;
  }

  .post-buttons {
    width: 20%;
  }

  .required-asterisk-conf-num,
  .required-asterisk-location {
    margin-left: 0px;
  }
}
