.listview-container {
  border: 1px solid var(--grey);
  border-radius: 5px;
  overflow-y: auto;
  max-height: 120px;
}

.empty-listview {
  border: none;
}

.listview-node {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.listview-node p {
  display: inline;
  white-space: nowrap;
  width: 80%;
  margin-left: 20px;
  overflow-x: hidden;
}

.listview-node:hover {
  background-color: var(--grey);
  cursor: pointer;
}

.listview-node:hover {
  background-color: var(--grey);
  cursor: pointer;
}

.listview-node-icon {
  margin-right: 40px;
  display: none;
}

.listview-node:hover > .listview-node-icon {
  display: block;
}

.listview-node:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.listview-node:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.listview-forms {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
