.nav-bar-container {
  background-color: #8477b9;
  width: 150px;
  height: 100vh;
}
.nav.NavDropdown {
  color: green;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  color: var(--white);
  text-decoration: none;
}

.nav-item > a {
  color: var(--white);
  text-decoration: none;
}
