.newsletters-main-wrapper {
    margin: 0px 20px 0px 20px;
  }
  
  .newsletters-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .orange-border {
    border: 1px solid var(--darkorange);
  }