
#news-event-info-dialogue .entry-wrapper{
    width: 100%;
}

.asterisk {
    color: red;
    font-size: 20px;
}

.field-wrapper {
    display: flex;
    flex-direction: row;
}

.slide-num {
    text-align: right;
    margin-bottom: 0px;
    color: gray;
}

.Dialogue-Button {
   width: 100%;
   text-align: center;
   margin-bottom: 30px;
}