p Hello,
p An Individual has sent you a message via the Sakyadhita Contact Page.
br
p #[strong Name:] #{name}
p #[strong Email:] #{email}
p #[strong Phone Number:] #{phone}
p #[strong Message:]
p #{message}
br