* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  position: relative;
}

.header {
  position: relative;
  width: 100vw;
  height: 525px;
}

.header .page-title {
  position: absolute;
  top: 120px;
  left: 65px;
  width: 500px;
  height: 100px;

  background-color: #6652a0d9;
  color: white;
  font-family: var(--heading-font);
  font-size: 2.25em;

  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.header img {
  width: 100vw;
  height: 525px;
  object-fit: cover;
}

.slider-wrapper {
  position: absolute;
  top: 650px;
  margin-left: 50px;
  height: calc(100% - 615px);
}

.slider {
  position: sticky;
  top: 170px;

  display: flex;
}

.slider-nav {
  margin-right: 20px;
  display: flex;
  flex-direction: column;

  list-style: none;
}

.slider-nav li {
  padding: 15px 0;
  font-size: min(1.125em, 1.25vw);
}

.slider-nav li.underline {
  text-decoration: underline solid orange 2px;
  text-underline-offset: 6px;
}

.vbar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}

.contents {
  position: relative;
  margin-left: min(315px, 24vw);
  padding-top: 100px;
  padding-bottom: 275px;
  width: max(100vw - 315px - 100px, 100vw - 22vw - 100px);
  width: calc(100vw - 315px - 100px);
  max-width: 1000px;

  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h1 {
  align-self: flex-start;
  margin-bottom: 30px;

  font-family: var(--heading-font);
  font-size: 2.25em;
  font-weight: 700;
}

.section p {
  font-family: var(--text-font);
  font-size: 1.125em;
}

.section img {
  margin-top: 85px;
  width: 100%;
}

.profiles {
  width: 840px;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: space-evenly;
}

.profile {
  width: 420px;
  padding: 0 70px;

  display: flex;
  flex-direction: column;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 15px;

  border: 15px solid #f7f7f7;
}

.profile h2 {
  margin: 5px 0;

  font-family: var(--heading-font);
  font-size: 1.875em;
  font-weight: 700;
  text-align: center;
}

.profile p {
  margin-top: 10px;
  font-family: var(--text-font);
  font-size: 1.125em;
  font-weight: 400;
  padding: 0px 10px;
}

.divider {
  margin: 100px 0px;
  height: 8px;
  width: 700px;
  background: var(--orange);

  align-self: center;
}
