.nav-left,
.footer-brand {
  display: flex;
  align-items: center;

  color: inherit;
  text-decoration: none;
}

.nav-left {
  text-align: left;
  justify-content: flex-start;
}

.footer-brand {
  text-align: right;
  justify-content: flex-end;
  flex-direction: row-reverse;
  color: white;
}

.nav-left:hover,
.footer-brand:hover {
  color: inherit;
  text-decoration: none;
}

.footer-brand:hover {
  color: white;
}

.nav-left #logo {
  height: 90px;
}

.footer-brand #logo {
  height: 150px;
}

.nav-left .branding,
.footer-brand .branding {
  margin-left: 10px;
}

.branding #title {
  font-family: var(--heading-font);
  font-size: 1.5em;
}

.footer-brand #title {
  font-family: var(--heading-font);
  font-size: 1.8em;
}

.branding #subtitle,
.footer-brand #subtitle {
  font-family: var(--text-font);
  font-size: 1.125em;
}

/* NavBar Mobile Views */
@media only screen and (max-width: 600px), (max-height: 600px) {
  .nav-left #logo {
    height: 36px;
  }

  .nav-left .branding {
    margin-left: 5px;
  }

  .nav-left #title {
    font-size: 1.125em;
    margin: 0;
  }

  .nav-left .branding #subtitle {
    display: none;
  }
}

/* Footer Mobile Views */
@media only screen and (max-width: 750px) {
  .footer-brand #logo {
    height: max(80px, 17vw);
  }

  .footer-brand #title {
    font-size: 1.45em;
  }
}

@media only screen and (max-width: 650px) {
  .footer-brand #logo {
    height: max(80px, 13vw);
  }

  .footer-brand .branding {
    margin-left: 5px;
  }

  .footer-brand #title {
    font-size: 1.35em;
    margin: 0;
  }

  .footer-brand .branding #subtitle {
    display: none;
  }
}
