/* Desktop */
.EPubSection {
  display: block;
  position: relative;
  margin: 44px 10vw;
}
.EPubSection_header {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
.EPubSection_header_title {
  width: 100%;
  font-family: var(--heading-font);
  font-size: 36px;
  line-height: 45px;
  text-align: center;
}
.EPubSection_header_seeAll {
  position: absolute;
  right: 25px;
  bottom: 0;
  width: fit-content !important;
  z-index: 100;

  padding: 0;
  margin-bottom: 16px;

  border: none;
  background-color: inherit;

  font-family: var(--text-font);
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.EPubSection_header_seeAll > span {
  color: var(--orange);
}
.EPubSection_header_seeAll:hover {
  text-decoration: underline;
  cursor: pointer;
}
.EPubSection_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  text-align: center;
  min-height: 460px;
  margin: 0px -25px;
}
.EPubSection_orangebar {
  position: absolute;
  bottom: 0;
  height: 8px;
  width: 100%;
  padding: 0px 25px;
  box-sizing: border-box;
  background-color: var(--orange);
}

/* Mobile */

.EPubSection--mobile {
  display: block;
  position: relative;
  margin: 44px 10vw;
}
.EPubSection_header--mobile {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
}
.EPubSection_header_title--mobile {
  width: 100%;
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
}
.EPubSection_header_seeAll--mobile {
  width: fit-content !important;
  z-index: 100;

  padding: 0;
  margin: auto;
  margin-bottom: 16px;

  border: none;
  background-color: inherit;

  text-decoration: none;
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
.EPubSection_header_seeAll--mobile > span {
  color: var(--orange);
}
.EPubSection_header_seeAll--mobile:hover {
  text-decoration: underline;
  cursor: pointer;
}
.EPubSection_body--mobile {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  text-align: center;
  margin: 0px -25px;
  overflow: hidden;
}
.EPubSection_orangebar--mobile {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100vw;
  background-color: var(--orange);
}
.EPubSection_body_scrollbutton--mobile {
  display: inline-block;
  position: relative;
  min-width: 30px !important;
  max-width: 30px !important;

  height: 30px !important;
  margin: 0px;
  bottom: 200px;
  border: none;
  background-color: inherit;
}
