/* Background image */
.Footer-Main-Container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 375px;

  background-image: url("https://images.unsplash.com/photo-1434725039720-aaad6dd32dfe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2996&q=80");
  /* allows for a purple tint on image */
  box-shadow: inset 0 0 0 1000px rgba(26, 23, 194, 0.4);
  border-radius: 5px;
  filter: blur(9px);
  background-size: cover, contain;
  background-position: center, top;
  background-repeat: no-repeat, no-repeat;
}

/* Content - Exists on top of image */
.Footer-Main-Container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;

  background-color: var(--lightpurple);

  width: 100%;
  height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 80px;
}

.Footer-Pages {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.Footer-Pages a {
  color: var(--white);
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
}

.Footer-Pages a:hover{
  color: var(--white);
  text-decoration-color: var(--darkorange);
}

.Footer-Bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex: 1;
  width: 100%;
}

/* Social Media Icons */
.Footer-Social-Media {
  display: flex;
  justify-content: space-between;
}

.Footer-Social-Media a {
  font-size: 40px;
  padding-right: 20px;
}

/* Mobile View */
@media only screen and (max-width: 750px) {
  .Footer-Main-Container {
    overflow: hidden;
    flex-direction: row;
    padding: 5vw;
    align-items: flex-start;
  }

  .Footer-Pages {
    padding: 0vw;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }

  .Footer-Pages a{
    font-size: 14px;
  }

  .Footer-Bottom {
    padding: 0vw;
    flex-direction: column;
    margin-top: 0;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
  }

  .Footer-Social-Media a {
    padding-right: 0px;
    padding-left: 20px;
  }
}

/* Galaxy Fold  */
@media only screen and (max-width: 300px) {
  .Footer-Pages {
    padding: 9vw;
    height: 70%;
  }

  .Footer-Pages a {
    font-size: 16px;
  }

  .Footer-Bottom {
    padding: 7vw;
  }

  .Footer-Social-Media a {
    padding-right: 0px;
    padding-left: 5px;
    font-size: 30px;
  }
}
