.__react_component_tooltip {
  pointer-events: auto !important;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
}

.Home > .home-body {
  width: 100%;
  padding: 3rem 3rem 6rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--text-font);
}

.Home h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  margin-bottom: 30px;
}

#home-intro {
  white-space: pre-line;
  width: 100%;
}

.home-section-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home .divider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Home .divider {
  background-color: var(--orange);
  width: 50%;
  border-width: 2px;
  border-radius: 1px;
  margin: 70px 0px 40px 0px;
}

.Home #branches-and-chapters {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.Home #branches-and-chapters .branch-info {
  /*
  margin-left: 30px; 
  width: 50%;
  padding: 20px 40px; 
  */
  white-space: pre-wrap;

  margin-left: 0px;
  width: 100%;
  padding: 20px 0px 0px;
}

.Home #branches-and-chapters .branch-info .legend-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.Home #branches-and-chapters .branch-info .label {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  vertical-align: middle;
  text-align: center;
}

.Home #branches-and-chapters .branch-info .color-box {
  width: 25px;
  height: 25px;
}

.Home #branches-and-chapters .branch-info .tag {
  margin-left: 10px;
}

.Home #home-be-involved {
  margin-top: 30px;
  width: 100%;
}

.Home #home-be-involved .involve-sections-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.involve-section + .involve-section {
  margin-left: 40px;
}

.home-section .home-section-title {
  margin-top: 20px;
}

.home-section > div {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  text-align: left;
}

@media only screen and (max-width: 1100px) {
  .Home #branches-and-chapters {
    margin-top: 30px;
    flex-direction: column-reverse;
  }

  .Home #branches-and-chapters .branch-info {
    margin-left: 0px;
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
  }

  .involve-section + .involve-section {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .Home > .home-body {
    padding: 3rem 1rem 3rem 1rem;
  }

  .home-section .home-section-title {
    margin-top: 3rem;
  }

  .Home h1 {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .Home h4 {
    font-size: 20px;
  }

  .Home #home-be-involved .involve-sections-container {
    flex-direction: column;
    justify-content: center;
  }

  .involve-section + .involve-section {
    margin-left: 0px;
    margin-top: 20px;
  }
}
