.navigation {
  position: absolute;
  top: 120px;
  right: -410px;
  height: calc(100vh - 120px);
  width: 410px;
  padding-top: 70px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--orange);
  transition: right 0.5s ease;
}

.navigation.visible {
  right: 0;
}

.nav-option {
  width: 100%;
  height: calc((100vh - 190px) / 5);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 75px;
}

.nav-option text {
  font-family: var(--header-font);
  font-size: 2.25em;
  color: white;
}

.nav-option.current {
  background-color: var(--dark-orange);
}

.nav-option:hover {
  color: white;
  background-color: var(--dark-orange);

  text-decoration: none;
}

.navigation #cross {
  display: none;
  border: none;
  background: transparent;
}

/* Mobile Styles */

@media only screen and (max-width: 600px), (max-height: 600px) {
  .navigation {
    top: 0;
    right: -100vw;
    height: 100vh;
    width: 100vw;

    padding-top: 60px;
    justify-content: flex-start;
  }

  .navigation #cross {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;

    cursor: pointer;
  }

  .navigation #cross img {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
  }

  .nav-option {
    height: 60px;
  }

  .nav-option text {
    font-size: 1.125em;
  }
}
