.navigation {
  position: absolute;
  top: 120px;
  right: max(-350px, -22vw);
  height: calc(100vh - 120px);
  width: min(350px, 22vw);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--orange);
  transition: none;
}

.navigation.transition {
  transition: right 0.5s ease;
}

.navigation.visible {
  right: 0;
}

.nav-option {
  width: 100%;
  height: calc((100vh - 120px) / 5);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: calc(1.9vw + 2px);
}

.nav-option text {
  font-family: var(--heading-font);
  font-size: min(1.25em, 2.5vw);
  color: white;
}

.nav-option.current {
  background-color: var(--darkorange);
}

.nav-option:hover {
  color: white;
  background-color: var(--darkorange);

  text-decoration: none;
}

.navigation #cross {
  display: none;
  border: none;
  background: transparent;
}

/* Mobile Styles */

@media only screen and (max-width: 750px), (max-height: 600px) {
  .navigation {
    top: 0;
    width: 100vw;
    right: -100vw;
    height: 100vh;
    z-index: 999;

    padding-top: 60px;
    justify-content: flex-start;
  }

  .navigation #cross {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;

    cursor: pointer;
  }

  .navigation #cross img {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
  }

  .nav-option {
    height: 60px;
    padding-left: 25vw;
  }

  .nav-option text {
    font-size: 1.125em;
  }
}
