.NavBar {
  position: sticky;
  top: 0;
  width: 100vw;

  z-index: 1000;
}

.navBar {
  height: 120px;
  width: 100vw;
  padding: 0 55px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--lightpurple);
  color: white;

  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.2);
}

#nav-toggle {
  position: relative;
  width: 50px;
  height: 50px;

  cursor: pointer;

  border: none;
  background: none;
}

#nav-toggle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  transition: opacity 0.5s ease;
  backdrop-filter: brightness(70%);
  -webkit-backdrop-filter: brightness(70%);
  opacity: 0;

  z-index: -1;
  pointer-events: none;
}

.nav-overlay.visible {
  opacity: 100%;
  pointer-events: all;
}

/* Mobile Styles */

@media only screen and (max-width: 750px), (max-height: 600px) {
  .navBar {
    height: 50px;
    width: 100vw;
    padding: 0 25px;

    box-shadow: none;
  }

  #nav-toggle {
    width: 20px;
    height: 20px;
  }

  #nav-toggle img {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
  }

  .nav-overlay {
    display: none;
  }
}
