@import "palette.css";

.NavBar {
    position: sticky;
    top: 0;

    width: 100vw;
}

.navBar {
    height: 120px;
    width: 100vw;
    padding: 0 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--purple);
    color: white;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: inherit;
    text-decoration: none;
}

.nav-left:hover {
    color: inherit;
    text-decoration: none;
}

.nav-left #logo {
    height: 92px;
}

.nav-left .branding {
    margin-left: 10px;
}

.branding #title {
    font-family: var(--header-font);
    font-size: 1.5em;
}

.branding #subtitle {
    font-family: var(--body-font);
    font-size: 1.125em;
}

#nav-toggle {
    width: 50px;
    margin-bottom: -12.5px;

    cursor: pointer;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transition: opacity .5s ease;
    backdrop-filter: brightness(70%);
    -webkit-backdrop-filter: brightness(70%);
    opacity: 0;

    z-index: -1;
}

.nav-overlay.visible {
    opacity: 100%;
}