.background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  z-index: 3;
  top: 0;
  left: 0;
}

.paypal-modal-wrapper {
  width: 975px;
  max-width: 90vw;
  background-color: white;
  max-height: 630px;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 25px;
  z-index: 4;
}

.paypal-modal-wrapper .return-button {
  width: 100%;
  margin-left: 40%;
  margin-top: 10px;
}

.paypal-modal-wrapper .paypal-component {
  margin-left: 5.5vw;
}

.paypal-modal-wrapper .header-text {
  font-size: 24px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: -7%;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .paypal-modal-wrapper .paypal-component {
    margin-left: 0%;
  }
}

@media screen and (max-width: 600px) {
  .paypal-modal-wrapper .return-button {
    margin-left: 23%;
  }

  .paypal-modal-wrapper .paypal-component {
    margin-left: 2%;
  }

  .paypal-modal-wrapper .header-text {
    margin-left: -2%;
  }
}
