.resources-nav {
    position: sticky;
    top: 120px;
    height: 70px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--orange);
}

/* Janky, but I can't get it to show under the main Navbar's box shadow */
/* nor do children respect the parent's box-shadow */
.resources-nav::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100vw;

    box-shadow: inset 0px 7px 10px 0px rgba(0,0,0,0.2);

    pointer-events: none;
}

.resources-link {
    display: block;
    height: 100%;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--body-font);
    font-size: 1.125em;
    color: white;
    text-decoration: none;

    z-index: -10;
}

.resources-link:hover {
    background-color: var(--dark-orange);

    color: white;
    text-decoration: none;
}

.current {
    background-color: var(--dark-orange);
}