.stepper-node {
  font-size: calc(14px);
}

.pagination-stepper {
  min-width: calc(50%);
  margin-left: calc(19px);
  margin-top: calc(-113px);
}

@media only screen and (max-width: 1200px) {
  .pagination-stepper {
    min-width: 100vw;
    margin-left: calc(19px);
  }
}
